.login_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background:#2d3a4b;
    .login_main {
        position: absolute;
        margin: 120px auto;
        padding: 35px 35px 15px;  
        right: 0;
        left: 0;
        width: 520px;
        max-width: 100%;
        .title {
            margin: 0 auto 40px;
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            color:#eee;
        }
        .login_item {
            margin-bottom: 20px;
            background:rgba(0,0,0,.1);
            border: 1px solid hsla(0,0%,100%,.1);
            border-radius: 5px;
            color:#454545;
            .login_item_content {
                position: relative;
                line-height: 36px;
                font-size: 14px;
                .login_item_csvg, .pass_eye {
                    position: absolute;
                    padding: 12px 5px 6px 10px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    color:#889aa4;
                }
                .login_item_input {
                    position: relative;
                    display: inline-block;
                    padding-left: 30px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 47px;
                    line-height: 36px;
                    color:#454545;
                    .login_item_input_inner {
                        padding: 12px 5px 12px 15px;
                        box-sizing: border-box;
                        display: inline-block;
                        width: 100%;
                        height: 47px;
                        font-size: inherit;
                        outline: 0;
                        -webkit-appearance: none;
                        border: 0;
                        border-radius: 0;
                        caret-color:#fff;
                        color:#eee;
                        background: transparent;
                        caret-color: #fff;
                        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                        &.code {
                            width: 70%;
                        } 
                        &.pass {
                            width: 80%;
                        }
                        &:-internal-autofill-selected{
                            background: #2d3a4b!important;
                        }
                        &:-webkit-autofill {
                            box-shadow: 0 0 0 1000px #2d3a4b inset;
                            -webkit-text-fill-color: #eee;
                        }
                        &:focus {
                            border: none;
                            box-shadow: none;
                        }
                    }
                    img {
                        position: absolute;
                        right: 0;
                    }
                    .pass_eye {
                        top: 2px;
                        right: 20px;
                        cursor: pointer;
                    }
                }
                &:before, &:after {
                    content: '';
                    display: table;
                }
            }
            &:before, &:after {
                content: '';
                display: table;
            }
        }
        .login_btn {
            width: 100%;
            height: 40px;
        }
        .code_btn {
            padding: 0;
            margin-bottom: 10px;
            border: 0;
            cursor: pointer;
            text-align: left;
        }
    }
}